extends ../layout

block content
    h1=title

    table.table.table-striped
        tr
            th Device Name
            th Device Token
            th Status
        - if (handlers.length) {
        each handler in handlers
            tr
                td=handler.deviceName
                td=handler.deviceToken
                case handler.state
                    when 0
                        td#state Idle
                    when 1
                        td#state Granted
                    when 2
                        td#state Deny

        - }
