extends ../layout

block content
    h1=title

    table.table.table-striped
        tr
            th Device Name
            th Device Token
            th Status
        - if (handlers.length) {
        each handler in handlers
            tr
                td=handler.deviceName
                td=handler.deviceToken
                case handler.state
                    when 0
                        td#state Idle
                    when 1
                        td#state Granted
                    when 2
                        td#state Deny

        - }

    div(class='modal fade' id='myModal' role='dialog')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss='modal') &times;
                    h4.modal-title Modal Header
                div.modal-body
                    p Some text in the modal.
                div.modal-footer
                    button(type='button' id='Grant' class='btn btn-primary' data-dismiss='modal') Grant
