extends layout

block content
    h1 Reader
    p.lead Testing

    ul
        for reader in readers
            li= reader.deviceToken
            for whiteList in reader.whiteList
                li = whiteList.device
